In [1]:
from bs4 import BeautifulSoup
import requests
import html5lib
import re
import pandas as pd

In [10]:
response = requests.get('https://www.imdb.com/title/tt3222784/?ref_=ttep_ep1')
html_soup = BeautifulSoup(response.text, 'html5lib')
episode_containers = html_soup.find_all('div', class_='sc-36c36dd0-6 ewJBXI')

names = []
for things in episode_containers:
    name = things.find_all('div', class_="sc-36c36dd0-8 fSYMLK")
    for n in name:
        this = n.find('a', class_ = "sc-36c36dd0-1 QSQgP")
        names.append(this)

names = pd.DataFrame(names, columns= ["names"])
names.head()

                names
0  Thomas Middleditch
1         T.J. Miller
2         Josh Brener
3        Martin Starr
4     Kumail Nanjiani